/*Esto es un comentario de bloque de CSS puro*/

// Esto es un comentario de linea en SASS y no se pasa al CSS

@import "fragmento";

/* VARIABLE CSS PURO */

:root {
    --color-principal: black;
}

/*VARIABLE GLOBAL SASS*/
/* SINTAXIS $nombre: color*/

$verde: green;

/*Anidamiento*/
body {
    width: 100%;
    background-color: var(--color-principal);
    div {
        background-color: $verde;
        color: red;
        border: 1px solid $verde;
        ul {
            list-style-type: disc;
            li {
                background-color: $verde;
                padding: 20px;
                border: 1px solid $verde;
                a {
                    text-decoration: none;
                    &:hover {
                        background-color: $verde;
                    }
                }
            }
        }
    }
}

body {
    width: 100%;
    .caja {
        background-color: #fff;
        color: red;
        border: 1px solid pink;
        .menu {
            list-style-type: disc;
            .menu-item {
                background-color: green;
                padding: 20px;
                border: 1px solid blue;
                .enlace {
                    text-decoration: none;
                }
            }
        }
    }
}








